/* _buttons.scss */

@mixin button($startColor: #aaa, $endColor: #fafafa) {
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    padding: 0.3em 0.5em;

    @include selectionColor(none);
    @include gradientBar($startColor, $endColor);
    @include borderRadius(0.2em);

    // in these cases the gradient won't cover the background, so we override
    &:hover, &:active, &.active, &.disabled, &[disabled] {
        background-color: darken($endColor, 10%);
      //@include gradientBar($endColor, $startColor);
    }

    // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
    &:active,
    &.active {
    @include boxShadow(inset 0 3px 5px rgba(0,0,0,.125));
      background-color: darken($endColor, 10%) e("\9");
    }
}


// @mixin button($height, $sideWidth, $before, $after) {
//     height: $height;
//   position: relative;
//    z-index: 1;
 
//   &:before, &:after {
//      content: '';
//      display: block;
//       height: $height;
//     position: absolute;
//          top: 0px;
//        width: $sideWidth;
//      z-index: -1;
//   }
 
//   &:before {
//     background-image: $before;
//     left: -$sideWidth;
//   }
 
//   &:after {
//     background-image: $after;
//     right: -$sideWidth;
//   }
// }